body {
    padding: 0px;
    margin: 0px;
    font-family: Inter, Helvetica, sans-serif;
}

img {
    width: 460px;
    height: 300px;
    border-radius: 10px;
    z-index: 1;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar {
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
    top: 0;
    width: 100%;
    background-color: aqua;
    z-index: 10;
}

.intro {
    padding: 150px 350px 100px 350px;
    min-height: 350px;
    border: 2px solid red;
}

.left-aligned-box {
    display: flex;
    justify-content: space-between;
    gap: 70px;
    min-height: 380px;
    padding: 100px 100px 0 0;
    border: 2px solid green;
}

.left-aligned-box .left {
    display: flex;
    flex: 1;
    border: 1px dotted blue;
    align-items: center;
}

.left .rectangle {
    height: 380px;
    width: 500px;
    border-radius: 0px 10px 10px 0px;
    margin-right: -400px;
}


.left-aligned-box .right {
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: right;
    justify-content: center;
    border: 1px dotted blue;
}

.right-aligned-box {
    display: flex;
    justify-content: space-between;
    gap: 70px;
    min-height: 380px;
    padding: 100px 0 0 100px;
    border: 2px solid green;
}

.right-aligned-box .left {
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    border: 1px dotted blue;
}

.right-aligned-box .right {
    display: flex;
    align-items: center;
}

.right .rectangle {
    height: 380px;
    width: 500px;
    border-radius: 0px 10px 10px 0px;
    margin-left: -400px;
}



