body {
    padding: 0px;
    margin: 0px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar {
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
    top: 0;
    width: 100%;
    background-color: aqua;
    z-index: 10;
}

.intro {
    padding: 150px 350px 100px 350px;
    min-height: 350px;
    border: 2px solid red;
}

.box {
    display: flex;
    justify-content: space-between;
    min-height: 380px;
    padding: 100px 100px 0 0;
    border: 2px solid green; 
}

.left, .right {
    display: flex;
    flex: 1;
    border: 1px dotted blue;
}

.left .rectangle {
    height: 380px;
    width: 500px;
    background-color: pink;
}

