body {
    padding: 0px;
    margin: 0px;
    font-family: Inter, Helvetica, sans-serif;
}

img {
    width: 460px;
    height: 300px;
    border-radius: 10px;
    z-index: 1;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5; 
    height: 80px; /* Adjust this based on your design */
    color: var(--purple-900, #5A54FD);
    text-align: center;
    /* Body/bold/14 */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: #FDF0FF;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--purple-200, #E5E0FF);
    min-width: 160px;
    z-index: 1;
    border-radius: 8px;
}

.dropdown-content a {
    color: var(--purple-900, #5A54FD);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.dropdown-content a:hover {
    display: inline-flex;
    color: var(--purple-900, #5A54FD);
}

#mainMenu li:hover {
    color: var(--purple-1000, #0A03C9);  /* This is the default color you have for the navbar text */
}

.menu-icon {
    vertical-align: middle;
}


.logo {
    display: flex;
    align-items: center; /* Centers logo elements vertically */
    margin-left: 67px; /* Left margin based on the provided image */
}

.logo svg {
    margin-right: 20px; /* Space between SVG and text; adjust as needed */
}

.logo span {
    color: #5A54FD;

    /* Header/H2/bold */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}



.navbar ul {
    display: flex;
    list-style-type: none; /* Removes bullets from the list */
    margin-right: 100px;
}

.navbar li {
    margin-left: 80px; /* Space between list items */
    font-size: 18px; /* Adjust the font size as needed */
    cursor: pointer; /* Changes cursor to hand pointer on hover */
}

/* Optional: add hover effect to list items */
.navbar li:hover {
    color: #ff6600; /* Change the color as desired */
}

.intro {
    padding: 150px 350px 100px 350px;
    min-height: 350px;
    color: var(--purple-1000, #0A03C9);
    text-align: center;
    /* Header/H3/regular */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #FDF0FF; 

}

.intro h1 {
    color: #5A54FD;

    text-align: center;
    /* Header/H1/bold */
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.left-aligned-box {
    display: flex;
    justify-content: space-between;
    gap: 70px;
    min-height: 380px;
    padding: 100px 100px 0 0;
    /* border: 2px solid green; */
    box-sizing: border-box; /* Ensure padding is included in the width */
}

.left-aligned-box .left {
    display: flex;
    flex: 1;
    /* border: 1px dotted blue; */
    align-items: center;
}

.left .rectangle {
    height: 380px;
    width: 500px;
    border-radius: 0px 10px 10px 0px;
    margin-right: -400px;
}

.left h2 {
    align-self: stretch;
    color: var(--orange-500, #FF9700);
    /* Header/H1/bold */
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.left .h2-purple {
    color: var(--purple-900, #5A54FD);
}

.left-aligned-box .right {
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: right;
    justify-content: center;
    /* border: 1px dotted blue; */
}

.right-aligned-box {
    display: flex;
    justify-content: space-between;
    gap: 70px;
    min-height: 380px;
    padding: 100px 0 0 100px;
    /* border: 2px solid green; */
}

.right-aligned-box .left {
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    /* border: 1px dotted blue; */
}


.right-aligned-box .right {
    display: flex;
    align-items: center;
    
}

.right .rectangle {
    height: 380px;
    width: 500px;
    border-radius: 10px 0px 0px 10px;
    margin-left: -400px;
}

.right h2 {
    align-self: stretch;
    color: var(--pink-500, #EC92F6);
    text-align: right;
    /* Header/H1/bold */
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.right .h2-teal {
    color: var(--teal-600, #32929A);
}

.right .h2-yellow {
    color: #93A815;
}

.right .h2-teal {
    align-self: stretch;
    color: var(--teal-600, #32929A);
    text-align: right;
    /* Header/H1/bold */
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: var(--lime-green-200, #E5F297);;
    margin-top: 150px;
    min-height: 320px;
    /* border: 2px dotted black; */
}


.footer .logo {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 50px 50px 0 50px;
    font-size: 25px;
    font-style: normal;
}

.footer .info {
    font-size: 12px;
    display: grid;
    grid-template-columns: 6fr 10fr 10fr;
    grid-row: 1fr 1fr 1fr 1fr;
    column-gap: 70px;

    flex-basis: 200px;
    /* border: 2px solid red; */

}

.footer #left {
    grid-column: 1 / 2;
    padding-left: 100px;
    /* border: 2px solid red; */
    align-self: center;
}

.footer #middle {
    grid-column: 2 / 3;
    /* border: 2px red solid; */
}

.footer #right {
    grid-column: 3 /4;
}

.footer li {
    list-style-type: none;
    padding: 8px 0;
}


/* Landing page styles */

body.landingPage {
    background-color: #EEEBFF;
}

.landingPage .intro{
    background: #EEEBFF;
}
.LandingPage .intro .text {
    display: flex;
    flex-direction: row;
}

.landingPage .intro img,
.landingPage .intro .text h1,
.landingPage .intro .text p {
    position: absolute;  /* Makes it possible to place elements fixed within the parent */
}

.landingPage .intro img {
    top: 200px;
    left: 550px;
    width: 281px;
    height: 400px;
}


.landingPage .intro h1 {
    color: var(--teal-700, #266D73);
    text-align: center;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 400px;
    margin-left: 0px;
    margin-top: 230px;
}

.landingPage .intro p {
    color: var(--teal-700, #266D73);
    /* Header/H3/regular */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 307px;
    margin-left: 500px;
    margin-top: 250px;
    text-align: left;
}

.landingPage .left-aligned-box .right {
    width: 360px;
    margin-left: 99px;
    margin-top: 52px;
    margin-bottom: 160px;
}


.landingPage .right h2 {
    align-self: stretch;
    color: var(--pink-500, #EC92F6);
    text-align: center;
    /* Header/H1/bold */
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.landingPage .left h2 {
    align-self: stretch;
    color: var(--purple-900, #5A54FD);
    text-align: center;
    /* Header/H1/bold */
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.landingPage .right button {
    margin-top: 20px;
}

.LandingPage .left-aligned-box {
    background: #EEEBFF;
}

.LandingPage .left-aligned-box .left {
    background: #EEEBFF;
}

.LandingPage .left-aligned-box .right {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: var(--black, #1E1E1E);
    text-align: center;
    /* Header/H3/regular */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.LandingPage .right-aligned-box .left {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: var(--black, #1E1E1E);
    text-align: center;
    /* Header/H3/regular */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.LandingPage .right-aligned-box {
    background: #EEEBFF;
}

.left-aligned-box .right .cafeButton {
    width: 191px;
    display: inline-flex;
    padding: 8px 12px;
    align-items: center;
    align-self: center;
    gap: 10px;
    border: none; /* Remove the border */
    border-radius: 5px;
    background: var(--pink-500, #EC92F6);
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    outline: none; /* Remove focus outline */
    -webkit-appearance: none; /* For Safari */
    -moz-appearance: none;    /* For Firefox */
    appearance: none;         /* Remove browser-specific appearance */
}

.landingPage .left img {
    height: 367px;
    width: 629px;
    border-radius: 0px 10px 10px 0px;
    margin-right: -400px;
}

.landingPage .right img {
    height: 367px;
    width: 629px;
}



.left-aligned-box .right .cafeButton:hover {
    background-color: #DB8AE3;
}


.landingPage .right-aligned-box .left {
    width: 360px;
    margin-left: 99px;
    margin-top: 52px;
    margin-bottom: 160px;
}

.right-aligned-box .left .clubsButtom {
    width: 191px;
    display: inline-flex;
    padding: 8px 12px;
    align-items: center;
    align-self: center;
    gap: 10px;
    border: none; /* Remove the border */
    border-radius: 5px;
    background: var(--purple-900, #5A54FD);    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    outline: none; /* Remove focus outline */
    -webkit-appearance: none; /* For Safari */
    -moz-appearance: none;    /* For Firefox */
    appearance: none;  
}

.right-aligned-box .left .clubsButtom:hover {
    background-color: blue;
}

#right svg {
    vertical-align: middle;
}

.trademark {
    margin-bottom: 20px;
    border-top: 1px solid #000000;
    vertical-align: middle;
    text-align: right;
}






